/**
	* @name Priscord
	* @description Transparency for the Discord client.
	* @version 0.2.0
	* @author Lylythii
	* @website https://lylythii.github.io
	* @invite xsbNuYXBd5
	* @donate https://paypal.me/Lylythii
	* @patreon https://patreon.com/Lylythii
	* @source https://github.com/Lylythii/BetterDiscordAddons/blob/main/Themes/Priscord/Priscord.theme.css
	* @updateUrl https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Priscord/Priscord.theme.css
*/

/*
	Prism's Branding; https://prismlauncher.org/wiki/branding/
*/

.appMount_fae9dd {
	background: var(--background-image) center/cover no-repeat
}

/* ToDo: Separate themes for Light & Dark Prism colour schemes? */
:root,
.theme-light,
.theme-dark,
.theme-amoled {
	--background-primary: #15181ce7;	/* Solid Colour; #15181c | Default is now translucent */
	--background-secondary: #21242b90;
	--background-secondary-alt: #21242b;
	--background-tertiary: transparent;
	--background-accent: #e0e0e0;
    --background-floating: #754C9490;
	--text-normal: #ffffff;
	--text-link: hsl(214, 46%, 67%);
	--header-primary: #ffffff;
	--header-secondary: #ffffff;
	/* Icons & Banners */
	--home_button-icon: url(https://raw.githubusercontent.com/PrismLauncher/prismlauncher.org/40d89d06ae90c7cbef18b06f52fd9a4c30c61db8/src/img/logo.svg);
	--background-image: url(https://raw.githubusercontent.com/PrismLauncher/prismlauncher.org/40d89d06ae90c7cbef18b06f52fd9a4c30c61db8/src/img/background/prism-background.svg);
}

.wrapper_d281dd[data-list-item-id="guildsnav___home"] path {
    display: none !important
}
.wrapper_d281dd[data-list-item-id="guildsnav___home"]::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: var(--home_button-icon) center/cover no-repeat;
}

/* Scroller Borders */
.scroller-1bVxF5 {
	border: 3px solid #202225;
}

/* Create/Join Server */
.text-PdAsFQ, .defaultColor-1EVLSt {
	color: #ffffff;
}
.container-1Lk8p7, .footer-31IekZ {
	background-color: #15181c;
}
.sampleLink-5BWNy9 {
	color: hsl(214, 46%, 67%);
}