/**
	* @name Glass
	* @description Transparency for the Discord client.
	* @version 0.2.0
	* @author Lylythii
	* @website https://lylythii.github.io
	* @invite xsbNuYXBd5
	* @donate https://ko-fi.com/lylythii
	* @patreon https://patreon.com/Lylythii
	* @source https://github.com/Lylythii/BetterDiscordAddons/blob/main/Themes/Glass/Glass.theme.css
	* @updateUrl https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Glass/Glass.theme.css
*/

#app-mount .bg-1QIAus {
	background: var(--background-image);
	background-position: var(--background-image-position, center);
	background-size: var(--background-image-size, cover);
}

:root,
.theme-dark,
.theme-light {
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent; 
    --background-tertiary: transparent;
    --background-accent: transparent;
    --background-floating: transparent;
    --background-modifier-rgb: transparent;
    --background-modifier-hover: transparent;
    --background-modifier-active: transparent;
    --background-modifier-selected: transparent;
    --background-modifier-accent: transparent;
    --channels-default: white;
    --channeltextarea-background: transparent;
    --searcharea-background: transparent;
    --input-background: transparent;
    --scroller-thumb: transparent;
    --scroller-track: transparent;
	/* Change this url to whatever image you'd like as a background.*/
	--background-image: url(https://raw.githubusercontent.com/Lylythii/o.O/main/null.png);
	/* Change this url to whatever image you'd like as a home icon.*/
	--home-icon: url(https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Glass/branding/discord/logo_white.png);
}

.homeIcon-r0w4ny path {
	fill: transparent;
}
.homeIcon-r0w4ny {
  background: var(--home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}
.homeIcon-r0w4ny {
	background-color: transparent;
}
