/**
	* @name Glass
	* @description Transparency for the Discord client.
	* @version 0.3.3
	* @author Lylythii
	* @website https://lylythii.com
	* @invite xsbNuYXBd5
	* @donate https://ko-fi.com/lylythii
	* @patreon https://patreon.com/Lylythii
	* @source https://github.com/Lylythii/BetterDiscordAddons/blob/main/Themes/Glass/Glass.theme.css
	* @updateUrl https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Glass/Glass.theme.css
*/

[id="app-mount"] {
    background: var(--background-image);
	background-position: var(--background-image-position, center);
	background-size: var(--background-image-size, cover);
}

:root,
.theme-light,
.theme-dark,
.theme-amoled {
    --background-primary: #00000020;
    --background-secondary: #00000020;
    --background-secondary-alt: #00000020; 
    --background-tertiary: #00000020;
    --background-accent: #00000020;
    --background-floating: #00000020;
    --background-modifier-rgb: #00000020;
    --background-modifier-hover: #00000020;
    --background-modifier-active: #00000020;
    --background-modifier-selected: #00000020;
    --background-modifier-accent: #00000020;
    --channels-default: white;
    --channeltextarea-background: #00000020;
    --searcharea-background: #00000020;
    --input-background: #00000020;
    --scroller-thumb: #00000020;
    --scroller-track: #00000020;
	/* Change this url to whatever image you'd like as a background.*/
	--background-image: url();
	/* Change this url to whatever image you'd like as a home icon.*/
	--home_button-icon: url(https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Glass/branding/discord/logo_white.png);
}

.wrapper_f90abb[data-list-item-id="guildsnav___home"] path {
    display: none !important
}
.wrapper_f90abb[data-list-item-id="guildsnav___home"]::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: var(--home_button-icon) center/cover no-repeat;
}

.message__80c10.selected_fd9051, .mouse-mode.full-motion .message__80c10:hover {
    background-color: rgba(0, 0, 0, 0.3);
}