/**
	* @name Skeu
	* @description Skeuomorphic-esque theme for Discord
	* @version 0.1.0
	* @author Lylythii
	* @website https://lylythii.github.io
	* @invite xsbNuYXBd5
	* @donate https://paypal.me/Lylythii
	* @patreon https://patreon.com/Lylythii
	* @source https://github.com/Lylythii/BetterDiscordAddons/blob/main/Themes/Skeu/Skeu.theme.css
	* @updateUrl https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Skeu/Skeu.theme.css
*/


/* ToDo: */
/* Hide Navigation Button Highlights */

/* Misc UI */
.contentRegionScroller-2_GT_N, .sidebarRegionScroller-FXiQOh, .sidebar-nqHbhN, .scroller-WSmht3, .grid-1aWVsE .contentColumn-1C7as6, .background-3d_SjE, .accountProfileCard-lbN7n-, .info-3pQQBb, .grid-1aWVsE {
    background-color: #2b2b2b;
	border: 5px inset #434343;
}
.header-2Kx1US, .item-3XjbnG, .searchBar-3TnChZ, .avatarWithText-1tTt2S, .layout-1LjVue, .fieldList-in8WkP, .fieldButton-14lHvK, .content-2hZxGK, flex-2S1XBF, .cardPrimary-3qRT__, .flex-2S1XBF, .buttons-3dF5Kd, .button-3bklZh, .notice-2HEN-u, .replyBar-1oi75v, .closeButton-3IEry2, .text-sm-bold-1Dtt0R, .threadSuggestionBar-3ExSyc {
	background-color: #2b2b2b;
	border: 5px outset #434343;
}
/* Misc UI BD */
.bd-addon-card {
    background-color: #2b2b2b;
	border: 5px inset #434343;
}
.bd-addon-header, .bd-description-wrap, .bd-footer, .bd-error-modal-header, .bd-addon-error-header {
    background-color: #2b2b2b;
	border: 5px outset #434343;
}


/* Title Bar */
#app-mount .title-31SJ6t {
    background-color: #2b2b2b;
	border: 5px inset #434343;
}


/* Server Scroller */
.scroller-3X7KbA {
	background-color: #2b2b2b;
	border: 5px inset #434343;
}
/* Server Header */
.header-3OsQeK {
	background-color: #2b2b2b;
	border: 5px inset #434343;
}


/* User Container */
.panels-3wFtMD {
	background-color: #212121;
	border: 5px outset #434343;
}
/* User Container Profile */
.container-YkUktl {
	background-color: #212121;
	border: 1px outset #434343;
}
/* User Container Spotify */
.vc-spotify-button-row, .sliderContainer-2nidiS, .colorStandard-1Xxp1s {
	background-color: #212121;
	border: 1px outset #434343;
}

/* Channel Scroller */
.scroller-1ox3I2 {
	background-color: #2b2b2b;
	border: 5px inset #434343;
}
/* Channel Categories */
.containerDefault-3TQ5YN {
	background-color: #2b2b2b;
	border: 5px outset #434343;
}
/* Channels */
.containerDefault-YUSmu3 {
	background-color: #212121;
	border: 5px outset #434343;
}


/* Members Group
.membersGroup-2eiWxl {
	background-color: #212121;
	border: 5px outset #434343;
}*/
/* Members List */
.members-3WRCEx {
	background-color: #2b2b2b;
	border: 5px inset #434343;
}
/* Members */
.member-2gU6Ar {
	background-color: #212121;
	border: 5px outset #434343;
}


/* Chat Scroller */
.scroller-kQBbkU {
	background-color: #2b2b2b;
	border: 5px inset #434343;
}
/* Chat Messages */
.message-2CShn3 {
	background-color: #212121;
	border: 5px outset #434343;
}
/* Chat Message Box */
.form-3gdLxP {
	background-color: #212121;
	border: 5px inset #434343;
}
.attachButton-_ACFSu, .contents-3ca1mk, .scrollableContainer-15eg7h {
	background-color: #212121;
	border: 5px outset #434343;
}
/* Chat Bar */
.barButtonMain-2GIx4o, .barButtonBase-Sk2mdB {
	background-color: #212121;
	border: 5px outset #434343;
}
/* Chat Reactions */
.reaction-3vwAF2 {
	background-color: #5584c6;
	border: 5px outset #2e568a;
}


/* Chat Bar
.tutorialContainer-2jwoiB, .circleIconButton-1VxDrg {
	background-color: #212121;
	border: 5px outset #434343;
} */



/* Date Viewer Support */
#dv-mount {
	background-color: #212121;
	border: 5px inset #434343;
}
#app-mount .dv-time, .dv-date, .dv-weekday {
	background-color: #212121;
	border: 5px outset #434343;
}

/* Invisible Typing Support */
.invisible-typing-button {
	background-color: #212121;
	border: 5px outset #434343;
}
